<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="main">
  <div class="text-center">
    <h1 class="title">To-Do App</h1>
    <div class="row">
      <div class="col-md-10">
        <input [(ngModel)]="newItem"  type="text" name="addItem" placeholder="Add Item" class="form-control">
      </div>
      <div class="col-md-2">
        <button (click)="pushItem()" class="btn btn-default">Add Item</button>
      </div>
    </div>
    
    <p>You are Typing : {{newItem}} </p>
    <div>
      <ul>
        <li *ngFor="let i of items;let ind = index">
            {{i.task}}
            <span (click)=removeItem(ind,i._id,i) class="pull-right spanrightmargin">x</span>
          </li>
      </ul>
    </div>
  </div>
</div>










